<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
    <select id="boardList" resultType="kr.co.teaspoon.dto.BoardVO">
        select seq, cateName, title, content, nickname, regdate, visited from board b join category c on(b.cate=c.cate)
        <where>
            <if test="type != null">
                <trim prefixOverrides="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'W'.toString()">
                            nickname LIKE concat('%', #{keyword}, '%')
                        </when>
                    </choose>
                </trim>
            </if>
            <if test="category != null">
                AND c.cate = #{category}
            </if>
        </where>
        order by seq desc limit #{postStart}, #{postCount}
    </select>

    <!-- board의 전체 개수 구하기 -->
    <select id="getCount" resultType="integer">
        select count(*) from board
        <where>
            <if test="type != null">
                <trim prefixOverrides="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'W'.toString()">
                            nickname LIKE concat('%', #{keyword}, '%')
                        </when>
                    </choose>
                </trim>
            </if>
            <if test="category != null">
                AND cate = #{category}
            </if>
        </where>
    </select>
    
    <select id="boardDetail" resultType="kr.co.teaspoon.dto.BoardVO">
        select seq, cateName, title, content, nickname, regdate, visited from board b join category c on(b.cate=c.cate) where seq=#{seq}
    </select>
    <select id="boardCount" resultType="integer">
        select count(*) from board
    </select>
    <update id="countUp">
        update board set visited=visited+1 where seq=#{seq}
    </update>
    <update id="boardUpdate">
        update board set cate=#{cate}, title=#{title}, content=#{content} where seq=#{seq}
    </update>
    <insert id="boardInsert">
        insert into board values(default, #{cate}, #{title}, #{content}, #{nickname}, default, default)
    </insert>
    <delete id="boardDelete">
        delete from board where seq=#{seq}
    </delete>

    <select id="categories" resultType="kr.co.teaspoon.dto.Category">
        select * from category
    </select>
</mapper>